<%= form_for @tournament do |f| %>
 
  <% if @tournament.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@tournament.errors.count, "error") %> prohibited
        this tournament from being saved:
      </h2>
      <ul>
        <% @tournament.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </p>
 
  <p>
    <%= f.label :rounds %><br>
    <%= f.text_field :rounds %>
  </p>

  <p>
    <%= f.submit %>
  </p>
 
<% end %>
